<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1>次世代の名刺！</h1>
      <a href='/auth/strava' title='login with Strava'>
        <img src="/image/ConnectWithStrava@2x.png" title='login with strava'>
      </a>
  </div>
</div>
