<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1>次世代の名刺！</h1>
    <a href='/auth/strava' title='login with Strava'>
      <img src="/image/ConnectWithStrava@2x.png" title='login with strava'>
    </a>
  </div>
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1>Other tool</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <a href='/tcx' title='tcx splitter'>
          Tcx file splitter
        </a>
      </li>
    </ul>
  </div>
</div>
