<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A tool to split long distance course into smalle pieces">
  <meta name="author" content="matt">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title>Tcx splitter</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/vendor/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/vendor/bootstrap/css/cover.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]>
  <script src="/vendor/bootstrap//js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="/vendor/bootstrap/js//ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    .list-group-item {
      background-color: black;
    }

    .badge {
      margin-top: 30px;
    }

    .fadeout {
      -webkit-opacity: 0.25;
      -moz-opacity: 0.25;
      opacity: 0;
      -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease;
    }
  </style>

</head>

<body>
<% if flash.has?(:notice) %>
    <div class="alert alert-success">
      <strong><%= flash[:notice] %></strong>
    </div>
<% end %>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Tcx tool</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/tcx">Home</a></li>
              <li><a href="/list">Recent list</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <%= yield %>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>A bootstrap template built by <a href="https://twitter.com/mdo">@mdo</a>. Thanks.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/vendor/jquery-1.9.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/vendor/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.alert-success').addClass('fadeout');
  });

</script>
</body>
</html>
